@import "../../sass/colors.scss";
.singlePage {
  height: 100%;
  display: flex;

  .details {
    height: 100%;
    flex: 3;

    .wrapper {
      height: 100%;
      overflow-y: scroll;
      padding-right: 50px;
      padding-bottom: 50px;

      .info {
        margin-top: 50px;
        .top {
          display: flex;
          justify-content: space-between;
          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
            }
          }
          .address {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #888;
            .icons {
              width: 16px;
              height: 16px;
              color: $black;
            }
          }
          .price {
            width: max-content;
            background-color: $yellow;
            border-radius: 5px;
            padding: 5px;
          }
          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: rgba(254, 205, 81, 0.209);
            border-radius: 5px;
            padding: 0 50px;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20spx;
        }
      }
    }
  }

  .features {
    height: 100%;
    flex: 2;
    background-color: $pink;
    padding-left: 20px;
    padding-right: 20px;

    .wrapper {
      padding: 0 20px;
    }
  }
}
