@import "../../sass/responsive.scss";

.homePage {
  height: 100%;
  display: flex;

  .textContainer {
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    @include sm {
      justify-content: flex-start;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-right: 100px;

      @include md {
        padding-right: 0px;
      }

      @include sm {
        flex: 1;
      }

      .title {
        font-size: 46px;

        @include lg {
          font-size: 40px;
        }

        @include md {
          font-size: 36px;
        }
      }
    }

    .boxes {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 100px;

      @include md {
        padding-right: 0px;
      }

      @include sm {
        display: none;
      }

      .box {
        h2 {
          font-size: 36px;

          @include md {
            font-size: 26px;
          }
        }
        h3 {
          font-size: 18px;
          font-weight: 300;
          margin-top: -10px;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    display: flex;
    align-items: center;
    background-color: #fcf5f3;
    padding: 0 20px;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      transform: translateX(20px);
    }
  }
}
