@import "../../sass/responsive.scss";

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;

  @include md {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a {
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 6;
    display: flex;
    align-items: center;
    gap: 40px;

    #logo {
      font-weight: bold;
      font-size: 20px;
    }

    .navLinks {
      display: flex;
      gap: 40px;

      @include sm {
        display: none;
      }
    }
  }

  .right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;
    gap: 20px;
    padding: 0px 20px;

    @include md {
      padding: 0;
      background-color: transparent;
    }

    #signIn {
      display: block;
      @include sm {
        display: none;
      }
    }

    #signUp {
      display: block;
      padding: 12px 24px;
      background-color: #fece51;

      @include sm {
        display: none;
      }
    }

    #menuIconContainer {
      display: none;
      width: 35px;
      height: 35px;
      background-color: #000;
      border-radius: 50%;
      z-index: 10;
      @include sm {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #menuIcon {
        color: #fff;
        width: 25px;
        height: 25px;
      }
    }

    .menuList {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      opacity: 0;
      background-color: #000;
      color: #fff;
      transition: all 0.4s ease;

      @include sm {
        display: flex;
      }

      &.showMenu {
        opacity: 1;
      }

      #menuIconContainer2 {
        position: absolute;
        top: 35px;
        right: 25px;
      }
    }
  }
}
