@import "../../sass/colors.scss";
@import "../../sass/responsive.scss";

.listPage {
  height: 100%;
  display: flex;

  .listContainer {
    height: 100%;
    flex: 3;

    .wrapper {
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }
  }

  .mapContainer {
    height: 100%;
    flex: 2;
    background-color: $pink;
    padding: 0 20px;

    @include md {
      display: none;
    }
  }
}
